@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla';
    /* Debugger */
    /* border: 1px solid red */
}

body {
    background-color:  hsl(148, 38%, 91%);
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

.card-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 800px;
    width: 800px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 100px 75px;
}

.name-caja {
    display: flex;
    gap: 30px;
    /* border: 1px solid red; */
}

.name {
    margin-top: 30px;
    color:  hsl(187, 24%, 22%);
    /* border: 1px solid red; */
    width: 50%;
}

.last {
    margin-top: 30px;
    color:  hsl(187, 24%, 22%);
    width: 50%;
    /* border: 1px solid red; */
}

.email-caja {
    /* border: 1px solid red; */
    margin-top: 30px;   
}

.query-caja {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
}

.query {
    /* border: 1px solid red; */
    display: flex;
    gap: 30px;
    width: 100%;
    color:  hsl(187, 24%, 22%);
}

.query-container {
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    gap: 10px;
}


.message-container {
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 10px;
    margin-top: 10px;
    height: 100px;
    padding-left: 20px;
}

form p {
    margin-top: 30px;
}

.terms {
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color:  hsl(169, 82%, 27%);
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: none;
}


/* ----------------------------INPUTS------------------------------ */

#nombre {
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    padding: 10px;
}

#apellido {
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    padding: 10px;
}

#email {
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    padding: 10px;
}

#query {
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 230%;
    padding: 10px;
}

#message {
    border: 1px solid hsl(187, 24%, 22%);
    border-radius: 10px;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    padding: 10px;
}

/* ----------------------------PSEUDOS------------------------------ */

.focus-input {
    outline: none;
    border: none;
}

.focus-input:focus {
    
    border: 10px solid red;
      
}


.focus-query {
     
}

.focus-query:focus {
    border: 1px solid hsl(148, 38%, 91%);
    background-color: hsl(148, 38%, 91%);

}

/* ----------------------------MEDIAQUERIES------------------------------ */

@media (max-width: 612px) {
    
}